.nav-header {
  display: flex;
  justify-content: center;
  background-color: #272727;
  padding: 20px 0px;
  width: 100%;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1110px;
}

.website-logo {
  width: 120px;
  height: 35px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
  width: 150px; /* Gives perfect spacing between Home and Jobs */
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

.logout-desktop-btn {
  color: #ffffff;
  background-color: #6366f1;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
}
